.wrapper {
  display: flex;
  justify-content: center;
  gap: 2rem;
  width: 100%;
  margin: auto;
}

.allQuestionsWrapper {
  display: flex;
  flex-direction: column;
  width: 95%;
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 4rem;
  margin-bottom: 3rem;
}

.topWrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 1rem;
  box-sizing: border-box;
  height: 10rem;
  align-items: baseline;
}

.title {
  font-size: 22px;
  width: 35rem;
}

.btnWrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

@media screen and (min-width: 768px) {
  /* .wrapper {
    display: flex;
    justify-content: center;
    gap: 2rem;
    width: 100%;
    margin: auto;
  } */

  .allQuestionsWrapper {
    /* display: flex;
    flex-direction: column; */
    width: 50%;
    /* display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 4rem;
    margin-bottom: 3rem; */
  }

  /* .topWrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 1rem;
    box-sizing: border-box;
    height: 10rem;
    align-items: baseline;
  }

  .title {
    font-size: 22px;
    width: 35rem;
  }

  .btnWrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
  } */
}
