.header {
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 3rem;
  padding-right: 3rem;
  color: #202020;
  /* border-bottom: 1px solid grey; */
  background-color: rgb(243, 240, 240);
  text-transform: uppercase;
  font-size: 12px;
  font-family: sans-serif;
}

.logo {
  text-decoration: none;
  color: #202020;
}

.navbarWrapper {
  display: flex;
  gap: 3rem;
  align-items: center;
}

.navbarWrapper a {
  text-decoration: none;
  color: #202020;
}

.logoutBtn {
  all: unset;
  cursor: pointer;
}
