.footer {
  height: 5rem;
  background-color: rgb(243, 240, 240);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 3rem;
  padding-right: 3rem;

  /* margin-top: 30rem; */

  color: #202020;
  background-color: rgb(243, 240, 240);
  text-transform: uppercase;
  font-size: 12px;
  font-family: sans-serif;
}
