.loginModal {
  background-color: rgb(208, 208, 241);
  position: fixed;
  margin: auto;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem;
  padding-bottom: 3rem;
  width: 70%;
  height: 20%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.msg {
  height: 100%;
  display: flex;
  align-items: center;
  text-align: center;
}

.cancelBtn {
  all: unset;
  align-self: self-end;
}

@media screen and (min-width: 768px) {
  .loginModal {
    /* background-color: rgb(208, 208, 241);
    position: fixed;
    margin: auto;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 1rem;
    padding-bottom: 3rem; */
    width: 25%;
    /* height: 45%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center; */
  }

  /* .msg {
    height: 100%;
    display: flex;
    align-items: center;
  }

  .cancelBtn {
    all: unset;
    align-self: self-end;
  } */
}
