.question {
  padding: 4rem;
  padding-bottom: 2rem;
  border-top: 1px solid grey;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  color: grey;
  cursor: default;
  /* text-align: center; */
}

.questionText {
  color: rgb(91, 91, 189);
  text-decoration: none;

  cursor: pointer;
}
.questionDate {
  font-size: 12px;
  align-self: flex-end;
}
